@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700);
html, body {
	margin:0;
	padding:0;
}
body {
	background-color:rgb(50,50,50);
    color:rgb(200,200,240);
}
.page-wrap {
    width:360px;
    padding:0;
    padding-bottom:170px;
    margin:0 auto;
    height:100%;
}
.heading {
    border:3px solid rgb(120,120,120);
	border-radius:5px 5px 0px 0px;
	margin-top:10px;
	font-size:1.1em;
	padding:3%;
}
.title {
    font-family:Orbitron, sans-serif;
	font-size:1em;
}
.add-wrap {
    background-color:rgb(120,120,120);
    padding:1%;
}
.search-wrap {
    padding:2%;
    background-color:rgb(120,120,120);
}
.plus, .minus {
    background:rgb(200,200,240);
    border:none;
    height:137%;
}
.plus:hover, .minus:hover, .plus:active, .minus:active, .plus:focus, .minus:focus {
    background:rgb(200,200,240);
    outline-color:rgb(200,200,240);
}
.controls-wrap {
    display:table;
    table-layout: fixed;
    width:100%;
    border:2px solid rgb(120,120,120);
}
.controls-wrap > span {
    display:table-cell;
    padding:2%;
    font-family:Orbitron, sans-serif;
    font-weight:500;
    text-align:center;
    cursor:pointer;
}
.controls-active {
    background-color:rgb(120,120,120);
}
.channels {
    display:table;
    table-layout: fixed;
    padding:2%;
    width:100%;
    background-color:rgb(50,50,50);
    border-top:1px solid rgb(120,120,120);
    border-left:3px solid rgb(120,120,120);
    border-right:3px solid rgb(120,120,120);
    border-bottom:2px solid rgb(120,120,120);
    cursor:pointer;
}
.channels:last-child {
    border-bottom:3px solid rgb(120,120,120);
}
.channels:hover {
    background-color:rgb(30,30,30);
}
span.img-span {
    display:table-cell;
    text-align:left;
}
span.name-span {
    display:table-cell;
    text-align:center;
}
span.status-span {
    text-align:right;
    display:table-cell;
}
.channel-logo {
    width:40%;
}
.channel-name {
    font-family:Orbitron, sans-serif;
    font-weight:700;
    font-size:1.1em;
    vertical-align:middle;
}
.status {
    vertical-align:middle;
    font-size:2em;
}
.glyphicon-ban-circle {
	color:red;
}
.glyphicon-ok-circle {
	color:green;
}
.glyphicon-fire {
	text-decoration:underline
}
.s404 {
    background-color:firebrick;
    color:yellow;
    cursor:not-allowed;
}
.s404:hover {
    background-color:firebrick;
}
.dhover {
    display: none;
    position: absolute;
    width: 300px;
    padding: 10px;
    background: rgba(50,50,50,.6);
    color: rgb(200,200,240);
    border: 1px solid gray;
    border-radius:5px 5px 5px 5px;
    font-size: .9em;
    font-weight:600;
}
.dhover > img {
    width: 90%;
}