* {
    -moz-user-select: none;
    -webkit-user-select: none;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(10, 10, 10, .8);
    color: rgba(140, 140, 40, .8);
}

.tomato {
    margin-top: 2%;
    width: 8%;
}

.timers-row {
    margin-top: 4%;
}

.headers {
    font-size: 2em;
}

.controls {
    cursor: pointer;
    font-size: 1em;
    vertical-align: middle;
    padding: 8px;
}

#pomodoro {
    font-size: 2em;
    vertical-align: middle;
}

#break {
    font-size: 2em;
    vertical-align: middle;
}

.session-name {
    margin-top: 3%;
    font-size: 2em;
}

.session-name > div {
    display: inline-block;
}

.inner-work {
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 2px;
    background:rgba(200, 106, 0,.3);
}
.inner-break {
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 2px;
    background:rgba(200, 106, 0,.3);
}
.work {
    position: relative;
    border-radius: 2px;
    padding: 10px;

}

.break {
    position: relative;
    border-radius: 2px;
    padding: 10px;
}

.session-on {
    background-color: rgba(240, 30, 30, .4);
    padding:10px;
}

.pomodoro-display {
    position: relative;
    margin-top: 4%;
    font-size: 4vmax;
    background: rgba(240, 30, 30, .4);
    cursor: pointer;
    width: 40%;
}
