@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
body {
    background:url("http://home.nightcpu.com/hogan2/images/hogans_xl.jpg") no-repeat center center fixed;
    background-size:cover;
}
.bflex {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.buttons {
    margin-top:2.4%;
    position:absolute;
    bottom:1%;
    width:100%;
}
.start-button-wrap {
    bottom:4%;
}
p.take-quiz {
    font-size:2em;
    padding:2%;
    white-space:nowrap;
    color:aquamarine;
    font-family: 'Bangers', cursive;
}
#start {
    display:block;
    width:70%;
    margin:0 auto;
}
.jumbotron {
    width:540px;
    min-width:440px;
    position:relative;
    margin:auto;
    background-color:rgba(10,10,10,.5);
    border-radius:15px;
    text-align:center;
    vertical-align:middle;
}
.jumbotron > div, span {
    font-size:2em;
    font-family: 'Bangers', cursive;
    color:aquamarine;
}
.question-number {
    font-size:2.5em;
}
.question-now {
    padding:0 2% 0 2%;
}
.questions-correct {
    font-family: 'Sigmar One', cursive !important;
    padding:10%;
}
.quiz-button-wrap {
    bottom:.5%;
}
#prev {
    display:inline-block;
    margin:0 auto;
    width:40%;
}
#next {
    display:inline-block;
    margin:0 auto;
    width:40%;
}
#quiz {
    display:inline-block;
    text-align:left;
    font-size:1.7em;
    font-family: 'Sigmar One', cursive;
    color:aquamarine;
    padding-bottom:2%;
}
label {
    display:block;
    margin:15px;
}
input[type=radio] {
    margin-right:10px;
    vertical-align: central;
}
.rank {
    position: relative;
    width: 90px;
    top: 10px;
    margin:0 auto;
}
.again-button-wrap {
    bottom:4%;
}
#again {
    display:block;
    width:70%;
    margin:0 auto;
}